.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #333333;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    opacity: 90%;
    background-color: #000000;
    border-bottom: 1px solid #333333;
  }

  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #3f3d3d;
  }

  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

  .loader {
    border: px medium #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid blue;
    border-right: 10px solid green;
    border-bottom: 10px solid red;
    border-left: 10px solid gold;
    width: 60px;
    height: 60px;
    margin-left: 100px;
    margin-top: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  #wordasd{
    width: 100%;
    border: 1px solid #0092bc;
    border-right: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    padding-left: 10px;
    font-size: 17.5px;
    font-family: "Source Sans Pro";
    font-weight: 550;
    color: #ffffff;
    height: 41px;
    border-radius: 10px 0 0 10px;
    outline: none;
  }

  .searchButton{
    width: 40px;
    height: 41px;
    border: 1px solid #0092bc;
    background: #0092bc;
    text-align: center;
    color: #ffffff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 20px;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }


  /*New Css */
  .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 5px 5px 5px 8px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    line-height: 20px;
    /*padding: 0 0px;*/
    width: inherit;
    caret-color:red;
    }

    .search_icon{
        border-width: 0px !important;
        border-style: none !important;
    background: white;
    color: #e74c3c;
    height: 30px;
    width: 35px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration:none;
    }

    .round-btn{
      margin:10px;
      border-radius: 50px !important;
      font-size: 13px;
      width: 120px;
      font-weight:bold;
      background: #00c6ff;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */   
      background: linear-gradient(to bottom, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

